__pycache__/
*.py[cod]

.venv/
venv/

.env
.env.*
!.env.example

staticfiles/
media/

*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

celerybeat.pid
celerybeat-schedule
celerybeat-schedule*

.vscode/
.idea/

.DS_Store
Thumbs.db